
body{
    margin: 0;;
    padding: 0;
    border: none;
    background-color:#BBE1FA;
    font-family: 'Righteous', cursive;
    
}
h2{
    color:rgb(71, 215, 225);
    margin-bottom: 20px;
}
.top{
    background-color:#E23E57;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}
.top1{
    background-color:#88304E;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;

}
.top2{
    background-color: #522546;
    
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}
.top3{
    background-color:black;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;

}
.top4{
    background-color:black;
    
    overflow: hidden;
}
.inline{
    display: inline-block;

}
#numberEntered{
    width: 40vw;
}
.btn{
    background-color:  rgba(59, 56, 56, 0.5);;
    color: white;
}
.infobuton{
    
    position: relative;
    left: 43%;
    width: 14%;
    /* margin-bottom: 0; */

}

.centre{
    text-align: center;
}
.title{
    color:rgb(71, 215, 225);
    padding:14px;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin:auto;
    position: relative;

    font-weight: 900;
    font-size: 300%;


}
.maxmin{
    width:33%;
    
}
.buton{
    left: 15%;
}
.result{
    color:white;
    margin-top: 30px;
    background-color:  rgba(0, 0, 0, 0.5);;
}
.input{
    background-color:  rgba(56, 52, 52, 0.5);
    color: white;
    width:50%;
    margin: 0px auto;
    margin-bottom: 0%;
 
}
.input:hover{
    background: white;  
    color: black;

}

.inputs .form{
    width: 12%;
    margin: 0 auto;

}
.qoute{
    
    color:rgb(71, 215, 225);
    text-align: left;
    margin-bottom: 0%;
}
p{
    color:rgb(71, 215, 225);
    /* color: white; */
}
.card{
    height: 500px;
    text-align: center;
    padding:20px;
    display: inline-block;

    
    color:white;
    font-size: x-large;

    background-color: black; 

}
.footersize{
    font-size: 200%;
    margin: 10px;
    
}
.form{
    margin: auto;
}
#number{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    margin-left: 30%;
    

}
.footersec{
    color: white;
}
h3{
    color:rgb(71, 215, 225);
}